@{
    ViewData["Title"] = "Home Page";
}
<head>
    
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>
    <div class="time_box">
        <input type="date">
    </div>
</body>
